doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width; initial-scale=1')
    title SF-Drive
  body.body
    header.head
      a.head__logo
        img(src='img/Logo.png' width='115px' height='28px' alt='Логотип')
      .head__burger-menu
        img(src='img/VectorBurger.png' alt='развернуть меню')
      nav.head__menu
        a.head__menu-item(href='#' alt='О нас') О нас
        a.head__menu-item(href='#' alt='Условия') Условия
        a.head__menu-item(href='#' alt='Частые Вопросы') Частые Вопросы
        button.head__button(type='submit') Войти
    main.main
      .drawTeam
        img.drawTeam__img(src='img/undraw_team.png' alt='Картинка команды')
      h1 О нас
      p.about-us__info
        | Это учебный проект, созданный с целью получения боевого опыта в разработке настоящего живого веб-приложения.
        | Этот сервис имитирует работу каршеринга, в котором можно не только арендовать автомобили, но и сдавать их в аренду.
      section.contacts
        h2 Контакты
        .contacts__container
          .contacts__telephone
            p.contacts__telephone__text Телефон:
            p.contacts__telephone__item +7 921 185-45-91
            p
          .contacts__trait
          .contacts__email
            p.contacts__email__text Электронная Почта
            p.contacts__email__item drive@skillfactory.com
      h3 Команда
      section.team
        .team__column
          .team__personal-card
            .team__personal-card__icon
              img.team_icon(src='img/CEOman.png' alt='Фотография Ивана')
            .team__personal-card__name
              | Иван Иванов
            .team__personal-card__proffesion
              | CEO
        .team__column
          .team__personal-card
            .team__personal-card__icon
              img.team_icon(src='img/FrontMan.png' alt='Фотография Алексея')
            .team__personal-card__name
              | Алексей Смирнов
            .team__personal-card__proffesion
              | Frontend-разработчик
        .team__column
          .team__personal-card
            .team__personal-card__icon
              img.team_icon(src='img/BackMan.png' alt='Фотография Дениса')
            .team__personal-card__name
              | Денис Ярцев
            .team__personal-card__proffesion
              | Backend-разработчик
        .team__column
          .team__personal-card
            .team__personal-card__icon
              img.team_icon(src='img/DesignerMan.png' alt='Фотография Николая')
            .team__personal-card__name
              | Николай Морозов
            .team__personal-card__proffesion
              | Дизайнер
        .team__column
          .team__personal-card
            .team__personal-card__icon
              img.team_icon(src='img/CopyWriterWoman.png' alt='Фотография Ирины')
            .team__personal-card__name
              | Ирина Деева
            .team__personal-card__proffesion
              | Копирайтер
        .team__column
          .team__personal-card
            .team__personal-card__icon
              img.team_icon(src='img/SMmWoman.png' alt='Фотография Марии')
            .team__personal-card__name
              | Мария Стрелкова
            .team__personal-card__proffesion
              | SMM
    footer.footer
      .footer__copywright © SkillDrive Inc. 2020
      .footer__socials
        a.footer__socials__link(href='#')
          img(src='img/faceBook.png' alt='facebook')
        a.footer__socials__link(href='#')
          img(src='img/instagramm.png' alt='instagramm')
        a.footer__socials__link(href='#')
          img(src='img/vk.png' alt='vkontakte')
