doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width; initial-scale=1')
    title SF-Drive
  body.body
    header.head
      a.head__logo
        img(src='img/Logo.png', width='115px', height='28px', alt='Логотип')
      .head__burger-menu
        img(src='img/VectorBurger.png', alt='развернуть меню')
      nav.head__menu
        a.head__menu-item(href='#', alt='О нас') &Ocy; &ncy;&acy;&scy;
        a.head__menu-item(href='#', alt='Условия') &Ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy;
        a.head__menu-item(href='#', alt='Частые Вопросы') &CHcy;&acy;&scy;&tcy;&ycy;&iecy; &Vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;
        button.head__button(type='submit') &Vcy;&ocy;&jcy;&tcy;&icy;
    main.main
      .drawQuestion
        img.drawQuestion__img(src='img/undraw_questions.png', alt='Картинка команды')
      h1 &CHcy;&acy;&scy;&tcy;&ycy;&iecy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;
      p.question__info &Ocy;&tcy;&vcy;&iecy;&chcy;&acy;&iecy;&mcy; &ncy;&acy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &ucy; &vcy;&acy;&scy; &mcy;&ocy;&gcy;&ucy;&tcy; &vcy;&ocy;&zcy;&ncy;&icy;&kcy;&ncy;&ucy;&tcy;&softcy;.
      section.questions
        .questions__container
          button.questions__box-collapsible(type='button')
            | &Mcy;&ocy;&gcy;&ucy; &lcy;&icy; &yacy; &ocy;&tcy;&mcy;&iecy;&ncy;&icy;&tcy;&softcy; &bcy;&rcy;&ocy;&ncy;&softcy;?
            img.questions__answer-button-down(src='img/Down.png', alt='раскрыть ответ')
            img.questions__answer-button-up(src='img/Up.png', alt='свернуть ответ')
          .questions__answer-box
            p.questions__answer-text
              | &Mcy;&ocy;&zhcy;&iecy;&tcy;&iecy;, &ncy;&ocy; &zcy;&acy; &ecy;&tcy;&ocy; &bcy;&ucy;&dcy;&iecy;&tcy; &scy;&pcy;&icy;&scy;&acy;&ncy;&acy; &kcy;&ocy;&mcy;&mcy;&icy;&scy;&icy;&yacy; &pcy;&ocy; &tcy;&acy;&rcy;&icy;&fcy;&ucy; &scy;&ocy;&ocy;&tcy;&vcy;&iecy;&tcy;&scy;&tcy;&vcy;&ucy;&yucy;&shchcy;&iecy;&mcy;&ucy; &vcy;&acy;&shcy;&iecy;&mcy;&ucy; &rcy;&iecy;&gcy;&icy;&ocy;&ncy;&ucy;
          button.questions__box-collapsible(type='button')
            | &Mcy;&ocy;&gcy;&ucy; &lcy;&icy; &yacy; &vcy;&iecy;&rcy;&ncy;&ucy;&tcy;&softcy; &dcy;&iecy;&ncy;&softcy;&gcy;&icy;, &iecy;&scy;&lcy;&icy; &ncy;&iecy; &pcy;&ocy;&dcy;&ocy;&shcy;&iocy;&lcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&softcy;?
            img.questions__answer-button-down(src='img/Down.png', alt='раскрыть ответ')
            img.questions__answer-button-up(src='img/Up.png', alt='свернуть ответ')
          .questions__answer-box
            p.questions__answer-text &Dcy;&acy;, &iecy;&scy;&lcy;&icy; &rcy;&iecy;&shcy;&iecy;&ncy;&icy;&iecy; &bcy;&ycy;&lcy;&ocy; &pcy;&rcy;&icy;&ncy;&yacy;&tcy;&ocy; &dcy;&ocy; &ncy;&acy;&chcy;&acy;&lcy;&acy; &acy;&rcy;&iecy;&ncy;&dcy;&ycy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy;
          button.questions__box-collapsible(type='button')
            | &CHcy;&tcy;&ocy; &dcy;&iecy;&lcy;&acy;&tcy;&softcy;, &iecy;&scy;&lcy;&icy; &scy;&lcy;&ucy;&chcy;&icy;&lcy;&ocy;&scy;&softcy; &Dcy;&Tcy;&Pcy;?
            img.questions__answer-button-down(src='img/Down.png', alt='раскрыть ответ')
            img.questions__answer-button-up(src='img/Up.png', alt='свернуть ответ')
          .questions__answer-box
            p.questions__answer-text &Zcy;&vcy;&ocy;&ncy;&icy;&tcy;&softcy; &vcy; &scy;&lcy;&ucy;&zhcy;&bcy;&ucy; &pcy;&ocy;&dcy;&dcy;&iecy;&rcy;&zhcy;&kcy;&icy;
          button.questions__box-collapsible(type='button')
            | &Mcy;&ocy;&gcy;&ucy; &lcy;&icy; &yacy; &ocy;&scy;&tcy;&acy;&vcy;&icy;&tcy;&softcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&softcy; &vcy; &ucy;&dcy;&ocy;&bcy;&ncy;&ocy;&mcy; &dcy;&lcy;&yacy; &mcy;&iecy;&ncy;&yacy; &mcy;&iecy;&scy;&tcy;&iecy;?
            img.questions__answer-button-down(src='img/Down.png', alt='раскрыть ответ')
            img.questions__answer-button-up(src='img/Up.png', alt='свернуть ответ')
          .questions__answer-box
            p.questions__answer-text
              | &Dcy;&acy;&ncy;&ncy;&ycy;&jcy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy; &ocy;&bcy;&scy;&ucy;&zhcy;&dcy;&acy;&iecy;&tcy;&scy;&yacy; &scy; &scy;&ocy;&bcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&icy;&kcy;&ocy;&mcy;, &ncy;&ocy; &kcy;&acy;&kcy; &pcy;&rcy;&acy;&vcy;&icy;&lcy;&ocy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&softcy; &ncy;&ucy;&zhcy;&ncy;&ocy; &vcy;&iecy;&rcy;&ncy;&ucy;&tcy;&softcy; &tcy;&ucy;&dcy;&acy;, &gcy;&dcy;&iecy; &vcy;&ycy; &iecy;&gcy;&ocy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&lcy;&icy;.
          button.questions__box-collapsible(type='button')
            | &CHcy;&tcy;&ocy; &dcy;&iecy;&lcy;&acy;&tcy;&softcy;, &iecy;&scy;&lcy;&icy; &scy;&ocy;&bcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&icy;&kcy; &pcy;&rcy;&ocy;&scy;&icy;&tcy; &zcy;&acy;&pcy;&lcy;&acy;&tcy;&icy;&tcy;&softcy; &iecy;&mcy;&ucy; &ncy;&acy;&pcy;&rcy;&yacy;&mcy;&ucy;&yucy;?
            img.questions__answer-button-down(src='img/Down.png', alt='раскрыть ответ')
            img.questions__answer-button-up(src='img/Up.png', alt='свернуть ответ')
          .questions__answer-box
            p.questions__answer-text &Ocy;&tcy;&kcy;&acy;&zcy;&acy;&tcy;&softcy;, &vcy;&scy;&iecy; &pcy;&lcy;&acy;&tcy;&iecy;&zhcy;&icy; &pcy;&rcy;&ocy;&khcy;&ocy;&dcy;&yacy;&tcy; &chcy;&iecy;&rcy;&iecy;&zcy; &ncy;&acy;&scy;
          button.questions__box-collapsible(type='button')
            | &Dcy;&ocy;&lcy;&zhcy;&iecy;&ncy; &lcy;&icy; &yacy; &zcy;&acy;&pcy;&rcy;&acy;&vcy;&lcy;&yacy;&tcy;&softcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&softcy;?
            img.questions__answer-button-down(src='img/Down.png', alt='раскрыть ответ')
            img.questions__answer-button-up(src='img/Up.png', alt='свернуть ответ')
          .questions__answer-box
            p.questions__answer-text &IEcy;&scy;&lcy;&icy; &iecy;&scy;&tcy;&softcy; &vcy; &ecy;&tcy;&ocy;&mcy; &ncy;&iecy;&ocy;&bcy;&khcy;&ocy;&dcy;&icy;&mcy;&ocy;&scy;&tcy;&softcy;
    footer.footer
      .footer__copywright &copy; SkillDrive Inc. 2020
      .footer__socials
        a.footer__socials__link(href='#')
          img(src='img/faceBook.png', alt='facebook')
        a.footer__socials__link(href='#')
          img(src='img/instagramm.png', alt='instagramm')
        a.footer__socials__link(href='#')
          img(src='img/vk.png', alt='vkontakte')